
#counter {
    font-weight: bolder;
}
#control-section {
    margin-top: 10px;
}

#view-section {
    margin-top: 10px;
    min-height: 20px;
}

.completedTodo {
    opacity: 30%;
}
.todoContainer {
    cursor: move;
    user-select: none;
}
.todoContainer:hover {
    background-color: rgb(233, 233, 233);
}
#deleteButton {
    display: inline-block;
    width: 25px;
}
.todoPriority {
    display: inline-block;
    width: 5%;
    margin-left: 10px;
}

.todoCreatedAt {
    display: inline-block;
    width: 30%;
}

.todoText {
    display: inline-block;
    width: 50%;
}
#todoInfo {
    margin-top: 10px;
}